<p>Dear {{ name }},</p>
<p></p>

<p>
  Your email address {{ email }} is already use in Sinapse Cloud for the school/company {{ company }}.
  <br />In order to register to Sinapse cloud, renew your registration with another email address.
</p>

<i>This is an automatic email. Do not answer to this email. If you have any question, contact our support by email <a href="mailto:support@sinapseprint.com">support@sinapseprint.com</a></i>