<p>Cher {{ name }},</p>
<p></p>

<p>
  Votre adresse e-mail {{ email }} est déjà utilisée dans Sinapse Cloud pour l'école / entreprise {{ company }}.
  <br />Pour vous inscrire au cloud Sinapse, renouvelez votre inscription avec une autre adresse e-mail.
</p>

<i>Cedi est un e-mail automatique. Ne répondez pas à cet e-mail. Si vous avez des questions, contactez notre support par email <a href="mailto:support@sinapseprint.com">support@sinapseprint.com</a></i>