<h3>You did it! You registered!</h3>

Hi
{{ name }}! You're successfully registered.

{# example, assuming you have a route named "login" #}
To verify your account, click
<a href="https://devhost02.serdaovn.com/sinapse-cloud/web/verify?a_c_c_verify={{ id }}">here</a>. Thanks!

{# Makes an absolute URL to the /images/logo.png file #}
<img src="{{ absolute_url(asset('images/logo.png')) }}">
