<p>Dear {{ name }},</p>
<p></p>

<p>
  Your received this email because you have requested to register to Sinapse
  Public Cloud.
  <br />To finalize your registration, please click on the link below.
</p>

<a
  href="https://devhost02.serdaovn.com/sinapse-cloud/web/verify?a_c_c_verify={{ id
    }}"
  >https://devhost02.serdaovn.com/sinapse-cloud/web/verify?a_c_c_verify={{ id
  }}</a
>

<p>Best regards,<br />Sinapse Print Simulators</p>
