<p>Bonjour {{ name }},</p>
<p></p>

<p>
  Vous avez reçu cet e-mail, car vous avez demandé à vous inscrire dans le Cloud Public de Sinapse.
  <br />Pour finaliser votre inscription, veuillez cliquer sur le lien ci-dessous.
</p>

<a
  href="https://devhost02.serdaovn.com/sinapse-cloud/web/verify?a_c_c_verify={{ id
    }}"
  >https://devhost02.serdaovn.com/sinapse-cloud/web/verify?a_c_c_verify={{ id
  }}</a
>

<p>Cordialement,<br />Sinapse Print Simulators</p>
