<p>Cher {{ name }},</p>
<p>Félicitations!</p>

<p>
  Vous avez été enregistré avec succès dans le cloud Sinapse. Vous recevrez votre code d'accès par email afin de vous connecter au simulateur.
  <br />Nous espérons que vous apprécierez votre future expérience avec nos simulateurs d'impression virtuels!
</p>

<p>
  Restez à la maison et Continuez à apprendre
  <br />Sinapse Print Simulators
</p>

<i>Cedi est un e-mail automatique. Ne répondez pas à cet e-mail. Si vous avez des questions, contactez notre support par email <a href="mailto:support@sinapseprint.com">support@sinapseprint.com</a></i>