<p>Dear {{ name }},</p>
<p>Congratulations!</p>

<p>
  You have been successfully registered in the Sinapse cloud. You will receive your access code by email in order to connect to the simulator.
  <br />We hope you enjoy your future experience with our virtual print simulators!
</p>

<p>
  Continue learning while staying at home.
  <br />Sinapse Print Simulators
</p>

<i>This is an automatic email. Do not answer to this email. If you have any question, contact our support by email <a href="mailto:support@sinapseprint.com">support@sinapseprint.com</a></i>