<p>Estimado {{ name }},</p>
<p>¡Felicidades!</p>

<p>
  Se ha registrado con éxito en la nube de Sinapse. Recibirá su código de acceso por correo electrónico para poder conectarse al simulador.
  <br />¡Esperamos que disfrute de su futura experiencia con nuestros simuladores de impresión virtual!
</p>

<p>
  Continúe aprendiendo mientras se queda en casa.
  <br />Sinapse Print Simulators
</p>

<i>Este es un correo electrónico automático. No respondas a este correo electrónico. Si tiene alguna pregunta, comuníquese con nuestro soporte por correo electrónico <a href="mailto:support@sinapseprint.com">support@sinapseprint.com</a></i>