{% extends 'base.html.twig' %}
{% block title %}User Registered Successfully
{% endblock %}
{% block body %}
	<div class="container" style="min-height: 600px;">
		<div class="card text-white bg-success mb-3">
			<div class="card-header">User Registered Successfully</div>
			<div class="card-body">
				<p class="card-text">An email has been sent to the email address “email” to confirm your registration. This link is valid for 4 hours.</p>
			</div>
		</div>
	</div>
{% endblock %}
