{% extends 'base.html.twig' %}
{% block title %}Verify Account
{% endblock %}
{% block body %}
	<div class="container" style="min-height: 600px;">
		<div class="card text-white bg-success mb-3">
			<div class="card-header">Verify Account</div>
			<div class="card-body">
				<p class="card-text">{{ message }}</p>
			</div>
		</div>
	</div>
{% endblock %}
